.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.darklightbtn {
  font-size: x-small;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.fullWidth {
  width: 100%;
}

.globalbackgroundandtext {
  background-size: cover;
  margin: auto;
  width: auto;
  min-height: 100vh;
  height: max-content;
  background-position: center;
  background-color: black;
  color: rgb(199, 199, 199);
}

.fillimgspace {
  
}

.imgs {
  outline-offset: 10px;
  margin: 5% ;
}